{% if pages.lastPage > 1 %}
    <ul class="pagination {{ class ?? 'flex-centered' }}">
        <li class="page-item{% if pages.isFirst %} disabled{% endif %}">
            <a href="{{ pages.firstUrl }}">&laquo;&nbsp;</a>
        </li>
        <li class="page-item{% if pages.isFirst %} disabled{% endif %}">
            <a href="{{ pages.prevUrl }}">Prev</a>
        </li>
        <li class="page-item active">
            <a href="">{{ pages.current }}</a>
        </li>
        <li class="page-item{% if not pages.hasMore %} disabled{% endif %}">
            <a href="{{ pages.nextUrl }}">Next</a>
        </li>
        <li class="page-item{% if not pages.hasMore %} disabled{% endif %}">
            <a href="{{ pages.lastUrl }}">&nbsp;&raquo;</a>
        </li>
    </ul>
{% endif %}