{{ form_open({method: 'POST', action: action, class: 'col-6'}) }}
    {{ csrf_field() }}
    {{ form_widget('text', 'name', 'Your name : ', affiliate.name) }}
    {{ form_widget('email', 'email', 'Your email : ', affiliate.email) }}
    {{ form_widget('url', 'url', 'Your website URL : ', affiliate.url) }}
<div class="form-group">
    {{ form_error('categories') }}
    {{ form_label('Categories : ', 'categories[]') }}
    {% for category in categories %}
        {% set attributes = {label: category.name, checked: affiliate ? (category.slug in affiliate.categories ? 'true' : null) : 'true'} %}
        {{ form_field('checkbox', 'categories[]', category.slug, attributes) }}
    {% endfor %}
</div>
{{ form_submit(affiliate ? 'Submit' : 'Register') }}
{{ form_close() }}