{% extends 'layout.twig' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="panel flex-centered">
        <div class="panel-header">
            <div class="panel-title h2">Login</div>
        </div>
        {{ form_open({action: route('auth_login'), method: 'POST', class: 'col-5'}) }}
            <div class="panel-body">
                {% for error in flash.get('error') %}
                    <div class="text-error text-center">{{ error }}</div>
                {% endfor %}
                {{ csrf_field() }}
                {{ form_widget('email', 'login', 'Email : ') }}
                {{ form_widget('password', 'password', 'Password : ') }}
                {{ form_widget('checkbox', 'remember', 'Remember me', null, {switch: true}) }}
            </div>
            <div class="panel-footer">
                {{ form_submit('Login', {class: 'flex-centered'}) }}
            </div>
        {{ form_close() }}
    </div>
{% endblock %}