{% extends '@jobeet/job/show.twig' %}

{% block body %}
    <nav class="navbar" style="height: 2.5rem">
        <section class="navbar-section">
            {{ form_open({method: 'POST', action: route('job_delete', {token: job.token})}) }}
            {{ csrf_field() }}
            <input type="hidden" name="_method" value="DELETE">
            <button class="btn btn-error" onclick="return confirm('Are you sure?')">
                Delete
            </button>
            {{ form_close() }}
        </section>
        <section class="navbar-section">
            {% if job.expiresAt %}
                {% if job.hasExpired %}
                    <strong>Expired</strong>
                {% else %}
                    <div class="nav-item mr-2">
                        {% set expire = job.expiresAt.diff(date())|date('%a') %}
                        Expires in <strong>{{ expire }}</strong> day{{ expire > 1 ? 's' : '' }}
                    </div>
                    {% if expire < 5 %}
                        <a href="{{ route('job_extend', {'token': job.token}) }}" class="btn btn-success ml-2">Extend
                            (for another 30 days)</a>
                    {% endif %}
                {% endif %}
            {% else %}
                <span class="nav-item mx-2">[Bookmark this <a href="{{ route('job_preview', {'token': job.token}) }}">URL</a> to manage this job later]</span>
                <a href="{{ route('job_publish', {'token': job.token}) }}" class="btn btn-success col-2">Publish</a>
                <a href="{{ route('job_edit', {'token': job.token}) }}" class="btn btn-primary text-center col-2 mx-2">Edit</a>
            {% endif %}
        </section>
    </nav>
    {{ parent() }}
{% endblock %}