{% extends '@jobeet/layout.twig' %}

{% block title %}{{ job.company }} - {{ job.position }} - {{ job.id }}{% endblock %}

{% block body %}
    <div class="columns mb-1">
        <div class="column col-8">
            <h5>{{ job.company }}</h5>
            <h6>{{ job.location }}</h6>
            <hr>
            {{ job.position }} - {{ job.type }}
            <hr>
        </div>
        {% if job.logo is not null %}
            <div class="column col-4">
                <a href="{{ job.url }}" target="_blank">
                    <img class="img-responsive ml-2" style="width:125px; height:125px;" src="/logos/{{ job.logo }}"/>
                </a>
            </div>
        {% endif %}
    </div>
    <p>
        {{ job.description }}
    </p>

    <i>How to apply ?</i>
    <p>
        {{ job.application }}
    </p>
{% endblock %}