<div>
    <h1>{{ post.title }}</h1> <em>by {{ post.author }}</em>
    <button data-id="{{ post.id }}">Delete</button>
    <div>{{ post.content }}</div>
    <div>
        <h3>Comments</h3>
        {% for comment in post.comments %}
            <div>
                <strong>{{ comment.author.name }}</strong> on {{ comment.createdAt.format('Y/m/d H:i') }} :
                <p>
                    {{ comment.content }}
                </p>
            </div>
        {% else %}
            No comment yet
        {% endfor %}
    </div>
</div>

<script>
    let del = document.querySelector('button');
    del.addEventListener("click", e => {
        let route = "{{ route('post_delete', {'id': 50}) }}";
        fetch(route.replace(50, e.target.dataset['id']), {method: 'DELETE'})
            .then(response => {
                if (response.ok) {
                    window.location.href = "{{ route('blog_index') }}";
                    alert('Deleted');
                } else console.log(response);
            })
            .catch(error => console.log(error.message))
    })
</script>